// Main colors
$primary: #0f081d;
$secondary: #231936;
$download: #915fff;
$upload: #b940ff;
$ratio: #9ca3af;
$state: #9ca3af;
$category: #915fff;
$tags: #915fff;
$tracker: #915fff;
$border: #ffffffc7;
// Torrent status colors
$torrent-done: #26a16c;
$torrent-downloading: #b940ff;
$torrent-fail: #f83e70;
$torrent-errored: $torrent-fail;
$torrent-paused: #9ca3af;
$torrent-queued: #2e5eaa;
$torrent-seeding: #915fff;
$torrent-checking: #ff7043;
$torrent-stalled: #4ade80;
$torrent-metadata: #7e57c2;
$torrent-moving: #f83e70;
$torrent-unknown: #000000;

:export {
  primary: $primary;
  secondary: $secondary;
  download: $download;
  upload: $upload;
  ratio: $ratio;
  state: $state;
  category: $category;
  tags: $tags;
  tracker: $tracker;

  torrent-done-color: $torrent-done;
  torrent-downloading-color: $torrent-downloading;
  torrent-fail-color: $torrent-fail;
  torrent-errored-color: $torrent-errored;
  torrent-paused-color: $torrent-paused;
  torrent-queued-color: $torrent-queued;
  torrent-seeding-color: $torrent-seeding;
  torrent-checking-color: $torrent-checking;
  torrent-stalled-color: $torrent-stalled;
  torrent-metadata-color: $torrent-metadata;
  torrent-moving-color: $torrent-moving;
  torrent-unknown-color: $torrent-unknown;
}
